
.banner {
  background: #333;
  text-align: center;
  font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 0.2em;
  padding: 0.5em 0 0.6em 0;
}

.banner > a {
  text-decoration: underline;
  color: #fff;
}




.top-navbar {
  grid-column: 1/8;
  grid-row: 2/3;
  box-shadow: 0 4px 6px -6px #222;
  display: grid;
  grid-template-columns: 5em 1fr; 
}

.top-navbar > img {
  align-self: center;
  justify-self: center;
  height: 4.8em;
}

.top-navbar > div > h1 {
  
  font-size: 2em;
}

.top-navbar > div > small {
  font-size: 1.3em;
}

@media only screen and (min-width: 1024px) {
  .top-navbar > div > h1 {
    padding-left: 1em;
    font-size: 2.5em;
  }

  .top-navbar > div > small {
    font-size: 1.6;
  }
}

.footer {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  transition: bottom 1s;
  box-shadow: 0px 0px 3px 0px rgba(150, 150, 150, 0.3);
  background: #fff;
  color: #333;
 
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.2em;
}

.disclaimer {
  padding: 4em 1em 6em 1em;
  background: #333;
  color: rgb(218, 218, 218);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: justify;
}



