/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
/* body {
	margin:0px;
	padding:0px;
    background-color: #FC5454;
} 


#mode-wrapper {
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;

}





*/


/* 














 */
